:root {
  --text: #5d5766;
  --text-h: #0c0722;
  --bg: #fff;
  --border: #b2b2bb;
  --accent: #9158c0;
  --accent-darker: #441a67;
  --accent-secondary: rgba(80, 80, 80, 0.2);
  --accent-bg: rgba(146, 18, 245, 0.05);
  --accent-bg-secondary: rgba(101, 0, 178, 0.2);
  --accent-border: rgb(220, 205, 232);
  --social-bg: rgba(235, 235, 235, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 6px 12px -12px, rgba(0, 0, 0, 0.1) 0 5px 10px -5px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--social-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #151517;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #d37cff;
    --accent-secondary: rgba(255, 255, 255, 0.15);
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.3);
    --social-bg: rgb(14, 12, 24);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
  position: relative;
}

#root {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  position: relative;
  width: 100%;
  margin: 0 16px;
  max-height: 100vh;
}

main > div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 99%;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h3, h4 {
  font-family: var(--sans);
  color: var(--text);
}

h1 {
  font-size: 46px;
  letter-spacing: -1px;
  margin: 32px 0;
  line-height: 118%;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

h3 {
  font-size: 20px;
  line-height: 118%;
  letter-spacing: -0.18px;
  font-weight: 600;
  margin: 4px 0;
  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

h4 {
  font-size: 18px;
  line-height: 118%;
  letter-spacing: -0.18px;
  font-weight: 400;
  margin: 4px 0;
  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

p {
  margin: 0;
  color: var(--text);
  font-family: var(--sans);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  @media (max-width: 1024px) {
    font-size: 14px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table thead {
  background-color: var(--accent-bg);
}

table tbody {
  background-color: var(--bg);
}

table tr {
  transition: background-color 0.1s ease-in-out;
}

table tbody tr:nth-child(even) {
    background-color: var(--social-bg);
}

table thead tr:hover, table tbody tr:hover {
    background-color: var(--accent-bg);
}

table thead th{
  color: var(--text-h);
  font-family: var(--heading);
}

table tbody td {
  color: var(--text);
  font-family: var(--sans);
}

table tr td, table tr th {
  font-size: 16px;
  padding: 4px 0;
}